/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


/* Variabel CSS */
:root {
  --header-height: 3rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
}


/* Warna */
:root {
  --first-color: #FCEAD2;
  --second-color: #A7180D;
  --thrid-color: -;
}


/* Font Typography */
:root {
  --body-font: 'Inter', sans-serif;
  --big-font-size: 6.50rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}


/* Margin */
:root {
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
  --mb-5: 5rem;
}


/* Z-Index */
:root {
  --z-fixed: 100;
}

/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--font-medium);
}
h1,h2,p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* Class CSS */
.section {
  padding: 3rem 0;
}
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin: var(--mb-2) 0;
  text-align: center;
  letter-spacing: 1.9px;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 120px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: rgb(56, 25, 25);
}


/* Layout */
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}
.l-header {
  margin-top: var(--mb-2);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}


/* Header Logo */
.header {
  top: 0;
  width: 105%;
  height: 20%;
  left: -3%;
  right: -3%;
  position: absolute;
  background-color: var(--first-color);
  border-bottom-left-radius: 80% 90%;
  border-bottom-right-radius: 80% 90%;
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
}


/* Landing Page */
.landingpage__image {
  display: block;
  margin-top: 13rem;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
}
@media screen
 and (max-height: 932px)
 and (min-width: 360px){
  .landingpage__image{
    width: 448px;
    height: auto;
  }
}
.arrow {
  margin-top: -2rem;
  text-align: center;
  font-size: 55px;
  background-color: var(--first-color);
  padding: 30px;
  color: var(--second-color);
}


/* Navbar */
.nav {
  margin-top: 5rem;
  left: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 4rem;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 2rem;
    background-color: #E7C290;
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: 2rem;
}
.nav__link {
  font-family: 'Inter', sans-serif;
  position: relative;
  color: rgb(0, 0, 0);
}
.nav__link:hover {
  color: black;
}
.nav__logo img {
  width: 120px;
}
.nav__title-color {
  color: black;
}
.nav__toggle{
  font-size: 1.6rem;
}

/* Show Menu */
.show {
  right: 0;
}


/* Promotion Image */
.voucher__image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 3rem
}
@media screen
 and (max-height: 932px)
 and (min-width: 360px){
  .voucher__image{
    width: 450px;
    height: auto;
  }
}


/* Menu */
.container__chickenmenu {
  padding: 15px 9%;
  padding-bottom: 60px;
}
.container__chickenmenu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 55px;
}
.container__chickenmenu .box-container .box {
  border-radius: 20px;
  background: var(--first-color);
  text-align: center;
  padding: 30px 20px;
}
.container__chickenmenu.box-container .box img {
  height: 15px;
}
.container__chickenmenu .box-container .box:hover {
  background-color: #FFAC31;
  box-shadow: 0 10px 15px rgba(40, 16, 16, 0.9);
  transform: scale(1.05);
}
.title__card{
  color: black;
}


/* About Us */
.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 5rem;
}
.about__text{
  text-align: center;
  margin-bottom: 3rem;
}


/* Footer */
.footer{
  background-color: var(--first-color);
}
.footer__container{
  row-gap: 2rem ;
}
.brand__footer{
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin: var(--mb-1);
}
.footer__text{
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1.5px;
}
.collaboration{
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}
.nama__footer{
  margin-top: 0.99rem;
  text-align: center;
  font-size: 0.99rem;
}
.nama__footer a{
  color: black;
}
